SELECT 'achat.id' AS col, COUNT(*) AS non_numeric FROM achat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'achatcaisse.id' AS col, COUNT(*) AS non_numeric FROM achatcaisse WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'achatcarburant.id' AS col, COUNT(*) AS non_numeric FROM achatcarburant WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'affectationfiltre.id' AS col, COUNT(*) AS non_numeric FROM affectationfiltre WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'affectationhuile.id' AS col, COUNT(*) AS non_numeric FROM affectationhuile WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'annee.id' AS col, COUNT(*) AS non_numeric FROM annee WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'articlecarburant.id' AS col, COUNT(*) AS non_numeric FROM articlecarburant WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'avance.id' AS col, COUNT(*) AS non_numeric FROM avance WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'avancegestat.id' AS col, COUNT(*) AS non_numeric FROM avancegestat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'avoir.id' AS col, COUNT(*) AS non_numeric FROM avoir WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'avoirbancaire.id' AS col, COUNT(*) AS non_numeric FROM avoirbancaire WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'banque.id' AS col, COUNT(*) AS non_numeric FROM banque WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'bonlivraison.code' AS col, COUNT(*) AS non_numeric FROM bonlivraison WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'caisse.id' AS col, COUNT(*) AS non_numeric FROM caisse WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'carteclient.id' AS col, COUNT(*) AS non_numeric FROM carteclient WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'cat.id' AS col, COUNT(*) AS non_numeric FROM cat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'categorie.id' AS col, COUNT(*) AS non_numeric FROM categorie WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'chauffeur.id' AS col, COUNT(*) AS non_numeric FROM chauffeur WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'chefpiste.id' AS col, COUNT(*) AS non_numeric FROM chefpiste WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'cheque.id' AS col, COUNT(*) AS non_numeric FROM cheque WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'chequereglement.id' AS col, COUNT(*) AS non_numeric FROM chequereglement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'client.code' AS col, COUNT(*) AS non_numeric FROM client WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'clientgestat.code' AS col, COUNT(*) AS non_numeric FROM clientgestat WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'clientpassation.id' AS col, COUNT(*) AS non_numeric FROM clientpassation WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'clientvidange.id' AS col, COUNT(*) AS non_numeric FROM clientvidange WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'compte.id' AS col, COUNT(*) AS non_numeric FROM compte WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'creditanterieur.id' AS col, COUNT(*) AS non_numeric FROM creditanterieur WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'creditclient.id' AS col, COUNT(*) AS non_numeric FROM creditclient WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'creditpassation.id' AS col, COUNT(*) AS non_numeric FROM creditpassation WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'degree.id' AS col, COUNT(*) AS non_numeric FROM degree WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'depense.id' AS col, COUNT(*) AS non_numeric FROM depense WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'depense_cheque.id' AS col, COUNT(*) AS non_numeric FROM depense_cheque WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'depensegestat.id' AS col, COUNT(*) AS non_numeric FROM depensegestat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'employee.code' AS col, COUNT(*) AS non_numeric FROM employee WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'etatcheque.id' AS col, COUNT(*) AS non_numeric FROM etatcheque WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'facture.code' AS col, COUNT(*) AS non_numeric FROM facture WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'factureachat.code' AS col, COUNT(*) AS non_numeric FROM factureachat WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'factureachat.id' AS col, COUNT(*) AS non_numeric FROM factureachat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'factureachatcarburant.code' AS col, COUNT(*) AS non_numeric FROM factureachatcarburant WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'factureachatcarburant.id' AS col, COUNT(*) AS non_numeric FROM factureachatcarburant WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'facturepassager.code' AS col, COUNT(*) AS non_numeric FROM facturepassager WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'famillearticle.code' AS col, COUNT(*) AS non_numeric FROM famillearticle WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'familleclientpassation.id' AS col, COUNT(*) AS non_numeric FROM familleclientpassation WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'familledepensegestat.id' AS col, COUNT(*) AS non_numeric FROM familledepensegestat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'familledepensetransport.id' AS col, COUNT(*) AS non_numeric FROM familledepensetransport WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'fournisseur.code' AS col, COUNT(*) AS non_numeric FROM fournisseur WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'gestion.id' AS col, COUNT(*) AS non_numeric FROM gestion WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'gestionrappel.id' AS col, COUNT(*) AS non_numeric FROM gestionrappel WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'historiquepayement.id' AS col, COUNT(*) AS non_numeric FROM historiquepayement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'imagebl.id' AS col, COUNT(*) AS non_numeric FROM imagebl WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'imageemployee.id' AS col, COUNT(*) AS non_numeric FROM imageemployee WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'imagelavage.id' AS col, COUNT(*) AS non_numeric FROM imagelavage WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'imagevetement.id' AS col, COUNT(*) AS non_numeric FROM imagevetement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'indexdeuxt.id' AS col, COUNT(*) AS non_numeric FROM indexdeuxt WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'journal.id' AS col, COUNT(*) AS non_numeric FROM journal WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'ligne_imagebl.id' AS col, COUNT(*) AS non_numeric FROM ligne_imagebl WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignealimentation.id' AS col, COUNT(*) AS non_numeric FROM lignealimentation WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignealimentationcar.id' AS col, COUNT(*) AS non_numeric FROM lignealimentationcar WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignecommande.id' AS col, COUNT(*) AS non_numeric FROM lignecommande WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignecommandepass.id' AS col, COUNT(*) AS non_numeric FROM lignecommandepass WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignegestion.id' AS col, COUNT(*) AS non_numeric FROM lignegestion WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'ligneimageemployee.id' AS col, COUNT(*) AS non_numeric FROM ligneimageemployee WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'ligneimagerendement.id' AS col, COUNT(*) AS non_numeric FROM ligneimagerendement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'ligneindex.id' AS col, COUNT(*) AS non_numeric FROM ligneindex WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignepaiegestion.id' AS col, COUNT(*) AS non_numeric FROM lignepaiegestion WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignepaiegestionprime.id' AS col, COUNT(*) AS non_numeric FROM lignepaiegestionprime WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignepaiegestionrappel.id' AS col, COUNT(*) AS non_numeric FROM lignepaiegestionrappel WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignetransert.id' AS col, COUNT(*) AS non_numeric FROM lignetransert WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignevente.id' AS col, COUNT(*) AS non_numeric FROM lignevente WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'lignevidangeproduit.id' AS col, COUNT(*) AS non_numeric FROM lignevidangeproduit WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'marque.id' AS col, COUNT(*) AS non_numeric FROM marque WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'model.id' AS col, COUNT(*) AS non_numeric FROM model WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'note.id' AS col, COUNT(*) AS non_numeric FROM note WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'paie.id' AS col, COUNT(*) AS non_numeric FROM paie WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'paieconge.id' AS col, COUNT(*) AS non_numeric FROM paieconge WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'paieprime.id' AS col, COUNT(*) AS non_numeric FROM paieprime WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'paramettre.id' AS col, COUNT(*) AS non_numeric FROM paramettre WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'pointage.id' AS col, COUNT(*) AS non_numeric FROM pointage WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'pointageconge.id' AS col, COUNT(*) AS non_numeric FROM pointageconge WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'pompe.id' AS col, COUNT(*) AS non_numeric FROM pompe WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'pompiste.id' AS col, COUNT(*) AS non_numeric FROM pompiste WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'produit.code' AS col, COUNT(*) AS non_numeric FROM produit WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'produit.id' AS col, COUNT(*) AS non_numeric FROM produit WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'produits.code' AS col, COUNT(*) AS non_numeric FROM produits WHERE code IS NOT NULL AND TRIM(code) <> '' AND code NOT REGEXP '^[0-9]+$';
SELECT 'produits.id' AS col, COUNT(*) AS non_numeric FROM produits WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'rappel.id' AS col, COUNT(*) AS non_numeric FROM rappel WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'rendement.id' AS col, COUNT(*) AS non_numeric FROM rendement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'retour.id' AS col, COUNT(*) AS non_numeric FROM retour WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'retourcuve.id' AS col, COUNT(*) AS non_numeric FROM retourcuve WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'role.id' AS col, COUNT(*) AS non_numeric FROM role WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'societe.id' AS col, COUNT(*) AS non_numeric FROM societe WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'soldetpe.id' AS col, COUNT(*) AS non_numeric FROM soldetpe WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'ticket.id' AS col, COUNT(*) AS non_numeric FROM ticket WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'tpeshell.id' AS col, COUNT(*) AS non_numeric FROM tpeshell WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'tracegestat.id' AS col, COUNT(*) AS non_numeric FROM tracegestat WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'tracepaie.id' AS col, COUNT(*) AS non_numeric FROM tracepaie WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'traceshop.id' AS col, COUNT(*) AS non_numeric FROM traceshop WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'tracetransport.id' AS col, COUNT(*) AS non_numeric FROM tracetransport WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'transaction.id' AS col, COUNT(*) AS non_numeric FROM transaction WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'transactiondepense.id' AS col, COUNT(*) AS non_numeric FROM transactiondepense WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'transactionrecdit.id' AS col, COUNT(*) AS non_numeric FROM transactionrecdit WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'transfert.id' AS col, COUNT(*) AS non_numeric FROM transfert WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'tva.id' AS col, COUNT(*) AS non_numeric FROM tva WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'vente.id' AS col, COUNT(*) AS non_numeric FROM vente WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'vetement.id' AS col, COUNT(*) AS non_numeric FROM vetement WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
SELECT 'vhecule.id' AS col, COUNT(*) AS non_numeric FROM vhecule WHERE id IS NOT NULL AND TRIM(id) <> '' AND id NOT REGEXP '^[0-9]+$';
