SELECT 'achat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM achat;
SELECT 'achatcaisse.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM achatcaisse;
SELECT 'achatcarburant.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM achatcarburant;
SELECT 'affectationfiltre.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM affectationfiltre;
SELECT 'affectationhuile.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM affectationhuile;
SELECT 'annee.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM annee;
SELECT 'articlecarburant.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM articlecarburant;
SELECT 'avance.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM avance;
SELECT 'avancegestat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM avancegestat;
SELECT 'avoir.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM avoir;
SELECT 'avoirbancaire.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM avoirbancaire;
SELECT 'banque.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM banque;
SELECT 'bonlivraison.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM bonlivraison;
SELECT 'caisse.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM caisse;
SELECT 'carteclient.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM carteclient;
SELECT 'cat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM cat;
SELECT 'categorie.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM categorie;
SELECT 'chauffeur.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM chauffeur;
SELECT 'chefpiste.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM chefpiste;
SELECT 'cheque.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM cheque;
SELECT 'chequereglement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM chequereglement;
SELECT 'client.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM client;
SELECT 'clientgestat.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM clientgestat;
SELECT 'clientpassation.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM clientpassation;
SELECT 'clientvidange.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM clientvidange;
SELECT 'compte.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM compte;
SELECT 'creditanterieur.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM creditanterieur;
SELECT 'creditclient.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM creditclient;
SELECT 'creditpassation.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM creditpassation;
SELECT 'degree.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM degree;
SELECT 'depense.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM depense;
SELECT 'depense_cheque.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM depense_cheque;
SELECT 'depensegestat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM depensegestat;
SELECT 'employee.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM employee;
SELECT 'etatcheque.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM etatcheque;
SELECT 'facture.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM facture;
SELECT 'factureachat.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM factureachat;
SELECT 'factureachat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM factureachat;
SELECT 'factureachatcarburant.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM factureachatcarburant;
SELECT 'facturepassager.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM facturepassager;
SELECT 'famillearticle.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM famillearticle;
SELECT 'familleclientpassation.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM familleclientpassation;
SELECT 'familledepensegestat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM familledepensegestat;
SELECT 'familledepensetransport.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM familledepensetransport;
SELECT 'fournisseur.code' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN code IS NULL OR TRIM(code) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT code) AS distinct_vals FROM fournisseur;
SELECT 'gestion.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM gestion;
SELECT 'gestionrappel.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM gestionrappel;
SELECT 'historiquepayement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM historiquepayement;
SELECT 'imagebl.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM imagebl;
SELECT 'imageemployee.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM imageemployee;
SELECT 'imagelavage.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM imagelavage;
SELECT 'imagevetement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM imagevetement;
SELECT 'indexdeuxt.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM indexdeuxt;
SELECT 'journal.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM journal;
SELECT 'ligne_imagebl.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM ligne_imagebl;
SELECT 'lignealimentation.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignealimentation;
SELECT 'lignealimentationcar.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignealimentationcar;
SELECT 'lignecommande.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignecommande;
SELECT 'lignecommandepass.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignecommandepass;
SELECT 'lignegestion.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignegestion;
SELECT 'ligneimageemployee.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM ligneimageemployee;
SELECT 'ligneimagerendement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM ligneimagerendement;
SELECT 'ligneindex.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM ligneindex;
SELECT 'lignepaiegestion.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignepaiegestion;
SELECT 'lignepaiegestionprime.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignepaiegestionprime;
SELECT 'lignepaiegestionrappel.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignepaiegestionrappel;
SELECT 'lignetransert.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignetransert;
SELECT 'lignevente.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignevente;
SELECT 'lignevidangeproduit.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM lignevidangeproduit;
SELECT 'marque.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM marque;
SELECT 'model.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM model;
SELECT 'note.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM note;
SELECT 'paie.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM paie;
SELECT 'paieconge.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM paieconge;
SELECT 'paieprime.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM paieprime;
SELECT 'paramettre.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM paramettre;
SELECT 'pointage.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM pointage;
SELECT 'pointageconge.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM pointageconge;
SELECT 'pompe.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM pompe;
SELECT 'pompiste.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM pompiste;
SELECT 'produit.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM produit;
SELECT 'produits.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM produits;
SELECT 'rappel.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM rappel;
SELECT 'rendement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM rendement;
SELECT 'retour.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM retour;
SELECT 'retourcuve.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM retourcuve;
SELECT 'role.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM role;
SELECT 'societe.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM societe;
SELECT 'soldetpe.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM soldetpe;
SELECT 'ticket.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM ticket;
SELECT 'tpeshell.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM tpeshell;
SELECT 'tracegestat.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM tracegestat;
SELECT 'tracepaie.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM tracepaie;
SELECT 'traceshop.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM traceshop;
SELECT 'tracetransport.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM tracetransport;
SELECT 'transaction.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM transaction;
SELECT 'transactiondepense.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM transactiondepense;
SELECT 'transactionrecdit.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM transactionrecdit;
SELECT 'transfert.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM transfert;
SELECT 'tva.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM tva;
SELECT 'vente.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM vente;
SELECT 'vetement.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM vetement;
SELECT 'vhecule.id' AS col, COUNT(*) AS total_rows, SUM(CASE WHEN id IS NULL OR TRIM(id) = '' THEN 1 ELSE 0 END) AS null_or_empty, COUNT(DISTINCT id) AS distinct_vals FROM vhecule;
